<div class="container">
    {{#each products}}
        <div>
            <div>{{this.name}}</div>
            <div>{{this.price}}</div>
            <div><img src="{{this.image}}" alt="{{this.name}}"></div>
        </div>
    {{/each}}
</div>