<h1>Ingrese producto</h1>
<form action="/api/productos" method="post">
    <div>
        <label for="title">Nombre: </label>
        <input type="text" name="title">
    </div>
    <br>
    <div>
        <label for="price">Precio: </label>
        <input type="number" name="price">
    </div>
    <br>
    <div>
        <label for="thumbnail">Foto URL: </label>
        <input type="url" name="thumbnail">
    </div>
    <br>
    <div>
        <label></label>
        <input type="submit" value="Enviar">
    </div>
</form>