<h1>Centro de mensajes</h1>
<form action="post">
    <input type="email" id="email" placeholder="usuario@dominio">
    <hr>
    <ul id="messages"></ul>
    <input type="text" id="input" autocomplete="off" placeholder="Ingresa un mensaje..."><button>Enviar</button>
</form>