<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Proyecto de backend</title>
</head>
<body>
    <section>
        <h2>User error signup</h2>
        <a href="/">Volver</a>
    </section>
    <%- include('../partials/footer'); %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/index.js"></script>
</body>
</html>