<h1>Ingrese producto</h1>
<form id="form">
    <div>
        <label for="title">Nombre </label>
        <input type="text" name="name" id="title">
    </div>
    <br>
    <div>
        <label for="price">Precio </label>
        <input type="number" name="price" id="price">
    </div>
    <br>
    <div>
        <label for="thumbnail">Foto URL </label>
        <input type="url" name="image" id="thumbnail">
    </div>
    <br>
    <button>Enviar</button>
</form>
<hr>
<h2>Lista de productos</h2>
<table id="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Foto</th>
        </tr>
    </thead>
</table>