<h1>Centro de mensajes</h1>
<ul id="messages"></ul>
<hr>
<form action="/api/mensajes" method="post" name="formMsg" id="msg-center">
    <input type="email" name="email" id="email" placeholder="usuario@dominio">
    <input type="text" name="msg" id="msg" autocomplete="off" placeholder="Ingresa un mensaje...">
    <button>Enviar</button>
</form>