extends main.pug

block content
    form(action="/api/productos", method="post")
        fieldset 
            div(class="form-group")
                label(for="title") Title: 
                input(type="text", name="title")
            br
            div(class="form-group")
                label(for="price") Price:
                input(type="number" name="price")
            br
            div(class="form-group")
                label(for="thumbnail") Thumbnail: 
                input(type="url" name="thumbnail")
            br
            div(class="form-group")
                label
                input(type="submit")