<!DOCTYPE html>
<html lang="es">
	<%- include('../partials/head'); %>
    <body>
		<header>
			<%- include('../partials/nav'); %>
		</header>
	    <main>
			<%- include('../partials/table'); %>
		</main>
		<footer>
			<%- include('../partials/footer'); %>
		</footer>
    </body>
</html>