<div class="login">
    <h1>Registro de usuario</h1>
    <form id="login" action="/login" method="post">
        <input type="text" name="user" id="user">
        <input type="password" name="pwd" id="pwd">
        <button type="submit">Enviar</button>
    </form>
</div>