<div class="form">
    <h1>Ingrese producto</h1>
    <form id="add-product">
        <div>
            <label for="title">Nombre </label>
            <input type="text" name="name" id="title">
        </div>
        <br>
        <div>
            <label for="price">Precio </label>
            <input type="number" name="price" id="price">
        </div>
        <br>
        <div>
            <label for="thumbnail">Foto URL </label>
            <input type="text" name="image" id="thumbnail">
        </div>
        <br>
        <button>Enviar</button>
    </form>
</div>