<div class="messages">
    <h1>Centro de mensajes</h1>
    <hr>
    <form method="post" id="msg-center">
        <input type="email" name="email" id="email" placeholder="usuario@dominio">
        <input type="text" name="msg" id="msg" autocomplete="off" placeholder="Ingresa un mensaje...">
        <button>Enviar</button>
    </form>
    <ul id="messages"></ul>
</div>