<div class="messages">
    <h1>Centro de mensajes</h1>
    <hr>
    <form method="post" id="msg-center">
        <input type="email" name="email" id="email">
        <input type="text" name="name" id="name">
        <input type="text" name="lastname" id="lastname">
        <input type="text" name="age" id="age">
        <input type="text" name="nick" id="nick">
        <input type="text" name="avatar" id="avatar">
        <input type="file" name="msg" id="msg" autocomplete="off">
        <button>Enviar</button>
    </form>
    <ul id="messages"></ul>
</div>