{{> form}}
<h2>Lista de productos</h2>
<table id="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Foto</th>
        </tr>
    </thead>
</table>
<h3>No hay productos</h3>